
<div class="card-footer">
	<div class="input-group">
		<form method="post">
			<div class="input-group-append">
				<span class="input-group-text attach_btn"><i class="fas fa-paperclip"></i></span>
			</div>
			<textarea  class="form-control type_msg" placeholder="Type your message..."></textarea>
			<div class="input-group-append">
				
				<span class="input-group-text send_btn"><i class="fas fa-location-arrow"></i><button></button></span>
			</div>

		</form>
	
	</div>
</div>
